<table class="table">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment[1] }}</td>
                <td>{{ appointment[2] }}</td>
                <td>{{ appointment[3] }}</td>
                <td>{{ appointment[4] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
